.textGradient {
  background-image: linear-gradient(
    to right,
    hsl(7, 86%, 67%),
    hsl(0, 0%, 100%)
  );
  -webkit-background-clip: text; /* for Safari */
  background-clip: text;
  color: transparent;
}

.ticketStubContainer {
  padding: 2rem 5%;
  width: 90%;
}

.emailRed {
  color: hsl(7, 88%, 67%);
}
